@model Purevision.Web.Models.Person
@using Newtonsoft.Json
@{
    ViewBag.Title = "Edit";
}

@*@{
    var _model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <br />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)
        
        @*<p>Name: <span data-bind="text: name"></span></p>
        <p>Name: <input data-bind="value: name" /></p>*@

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @(Html.Kendo().MaskedTextBoxFor(m => m.Phone)
                    .Name("Phone")
                    .Mask("(000) 000-0000")
                )
                @Html.ValidationMessageFor(m => m.Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Comments)
                @Html.ValidationMessageFor(model => model.Comments)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.BusinessName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.BusinessName)
                @Html.ValidationMessageFor(model => model.BusinessName)
            </div>
        </div>*@
        @*<hr />*@
        <div class="form-group">
            <div class="col-md-7 pull-right">
                @*<input type="button" id="archiveButton" value="Archive" class="btn btn-default" disabled />*@
                <input type="button" id="cancelButton" value="Cancel" class="btn btn-default" />
                <input type="button" id="updateButton" value="Update" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    //$(function () {
    //});
    @*var vm = ko.mapping.fromJS('@Html.Raw(_model)');
    var vm = {
        name: ko.observable("Test")
    };
    ko.applyBindings(vm);*@

    // bind controls; refer to http://docs.telerik.com/kendo-ui/framework/mvvm/overview
    $("#detailWindow [name]").each(function () {
        var name = $(this).attr("name");
        $(this).attr("data-bind", "value:" + name );
    });
    
    $(document).ready(function (e) {

        var grid = $("#grid").data("kendoGrid");
        var wnd = $("#detailWindow");

        $("#archiveButton").click(function (e) {
            alert("Feature coming soon...");
            wnd.data("kendoWindow").close();
        });

        $("#updateButton").click(function (e) {
            grid.saveChanges();
            wnd.data("kendoWindow").close();
        });

        $("#cancelButton").click(function (e) {
            wnd.data("kendoWindow").close();
        });

        //$("#refresh").click(function (e) {
        //    window.data("kendoWindow").refresh();
        //});

        //$("#center").click(function (e) {
        //    window.data("kendoWindow").center();
        //});

        //$("#pin").click(function (e) {
        //    window.data("kendoWindow").pin();
        //});

        //$("#unpin").click(function (e) {
        //    window.data("kendoWindow").unpin();
        //});
    });

    function onClick(e) {
        alert(this.Name);
        var wnd = $("#ClientDetail").data("kendoWindow");
        wnd.close();
        //        alert("test");
        return;
    }
</script>